:root{
--primary-text-color: #212121;
--secondary-text-color: #757575 ;
--accent-color: #2196F3;
--primary-white-color: #FFFFFF;
--button-bg-color: #F5F4FA;
--primary-button-hover: #188CEF;
--secondary-bg-color: #2F303A;
--footer-address-color: rgba(255, 255, 255, 0.6);
}

/*-----------------General*-----------------------*/
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

h1,h2,h3{
    margin-top: 0;
    margin-bottom: 0;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

li{
    /*outline: 2px solid tomato;*/
}

.container {
    outline: 2px solid tomato;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
/* all lists*/
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*all links*/
.link{
    text-decoration: none;
}

/*----Header----*/

.header{
    display: flex;
    align-items: center; /*fix*/
}

 /*logo*/

.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-black {
    color: var(--primary-text-color);
}

.logo-white{
 color: var(--primary-white-color);
}


.site-nav{
    display: flex;
    margin-left: 93px;
    
}

.site-nav .item + .item{
    margin-left: 50px;
}
.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
     font-weight: 500;
     line-height: 1.14;
     letter-spacing: 0.02em;
}
    
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
     color: var(--accent-color);
}
    
.site-nav .link.current {
     color: var(--accent-color);
}

.contacts{
    display: flex;
    margin-left: auto;
}

.contacts .item + .item{
    margin-left: 50px;
}
.contacts .link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      color: var(--secondary-text-color);
      text-decoration: none;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
 }
    
 /*footer*/
    
.footer {
     background-color: var(--secondary-bg-color);
    
}
      
.address-city {
    color: var(--primary-white-color);
    font-style: normal;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.03em;

}
    
.address-mail,
.address-tel {
    font-style: normal;
     color: var(--footer-address-color);
     font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
 }
 .address-mail:focus,
 .address-mail:hover,
 .address-tel:focus,
 .address-tel:hover{
     color: var(--accent-color);
 }

    /*buttons*/

.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    border: 1px solid transparent;
    font-family: inherit;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.button.primary {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.button.secondary,
.main-secondary-btn {
    color: var(--primary-text-color);
    background-color: var(--button-bg-color);
    font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.button.primary:focus,
.button.primary:hover{
    color: var(--primary-button-hover);
    background-color: var(--primary-white-color);
}
.button.secondary:focus,
.button.secondary:hover,
.main-secondary-btn:focus,
.main-secondary-btn:hover{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
 
}
   
 /* -----------------------Index*-----------------------*/

    /*Section hero*/

.hero{
    background-color: var(--secondary-bg-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title{
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

        /*Section features*/
.features{
    display: flex;
}

.features .item + .item{
    margin-left: 30px;/*fix text*/
}
.features-title {
    margin-bottom: 10px;
     font-weight: 700;
     line-height: 1.14;
     text-transform: uppercase;
     letter-spacing: 0.03em;
        }
    
.features-text {
      color: var(--secondary-text-color);
    font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0.03em;
        }
    /*Main*/

    /*Section occupation*/
.occupation{
    display: flex;
}

.occupation .item + .item{
    margin-left: 30px ;
}
    /*Section team*/
.team{
    display: flex;
    background-color: var(--button-bg-color);;
}

.team .item + .item{
    margin-left: 30px;
}
.team .item {
    background-color: var(--primary-white-color);
}

.team-image{
    margin-bottom: 30px;
}

.team-members{
    margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
}

.team-position{
    padding-bottom: 30px;
    color: var(--secondary-text-color);
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
}


/*----------------------------Portfolio -----------------------*/

    /* filter buttons*/

    /*portfolio*/

.portfolio-title{
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}

.portfolio-text{
    color: var(--secondary-text-color);
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
}